<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
	<script type="text/javascript" th:scr="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
</head>

<body>
	<div class="container=fluid">
		<h2>ログイン画面</h2>
		<span th:text="${message}"></span>
		<form th:action="@{/login}" method="post" th:object="${loginForm}">
			<div class="form-group">
				<div class="col-3 col-md-2 col-xxl-1">
				<p><label for="loginId">ログインID</label>
				<input class="form-control" type="text" th:field="*{loginId}">
				</div>
				<div class="col-3 col-md-2 col-xxl-1">
				<p><label for="password">パスワード</label>
				<input class="form-control" type="password" th:field="*{password}">
				</div>
				<p><input class="btn btn-primary" type="submit" value="ログイン">
			</div>
		</form>
		<a th:href="@{/signup}">▶ユーザー登録はこちら</a>
	</div>
</body>

</html>